.formContainer {
border: 1px solid var(--gray-light);
border-radius: 10px;
padding: 44px 57px;
width: 527px;
height: auto;
}
.formTitle {
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    font-weight: 600;
    margin-bottom: 8px;
}
.formSupText {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 24px;
}
.form {
    width: 527px;
}
.field {
    width: 518px;
    /* height: 60px; */
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    border-radius: 12px;
    background: var(--inputs);
    outline: none;
    border:none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 14px;

}
.formButton {
    margin-top: 10px;
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background: var(--button);
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
}
.formButton:hover {
    background: var(--button-hover);
}
.datePickerWrapper {
    position: relative;
}
