.carList {
    width: 888px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 32px;
}

.carItemContainer {
    height: 368px; 
    display: flex;
    padding: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    gap: 24px;
}
.carImage {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
}
.carInfo {
    width: 524px;
}
.carText {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}
.carPrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);

}
.carTitleContainer {
    display: flex;
    margin-bottom: 8px;
}
.priceContainer {
    display: flex;
    gap: 12px;
    margin-left: auto;
}
.locationContainer {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.carDetailsContainer {
    display: flex;
    width: 524px;
    height: 24px;
    /* gap: 16px; */
    margin-bottom: 24px;
    align-items: center;
}
.cardDetailText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    justify-content: center;
    align-items: center;
    
}
.carReviewsText {
    text-decoration: underline;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.carInfotext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-bottom: 24px;
}
.badgesItem {
    padding: 12px 18px 12px 18px;
    border-radius: 100px;
   
    max-height: 48px;
    background: var(--badges);
    display: flex;
    justify-content: center;
    gap: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}
.badgesList {
    list-style-type: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    max-width: 524px;
    padding-right: 133px;
}
.badgesContainer {
    width: 524px;
    height: 104px;
    margin-bottom: 24px;
}
.showMoreButton {
    border-radius: 200px;
        padding: 16px 40px;
        width: 166px;
        height: 56px;
        background: var(--button);
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--white);
        border: none;
}
.showMoreButton:hover {
    background: var(--button-hover);
}
.loadMoreButton {
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    margin-top: 40px;
    margin-left: 372px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
    background: var(--white);
    
}
.loadMoreButton:hover {
    border: 1px solid var(--button-hover);
}
.icon {
    width: 20px;
    height: 20px;
}
.addFavoriteIcon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.addFavoriteIcon:active {
    fill: red;
}
.loader {
    margin: 50px auto;
}